	* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'ABeeZee', sans-serif;
}

html, body, #root, .App {
	height: 100%;
}

.App {
	width:100%;
    display: flex;
	flex-direction: row;
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.note_container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.NotePage {
	display: flex;
	flex-direction: column;
	padding: 50px 200px;
}

.LoginPage {
	height: 100%;
	padding: 200px 300px;
}

.LoginForm {
	height: 100%;
	border-radius: 12px;
    border: 1px solid #00E0FF;
}

.LoginForm form {
	display: flex;
	flex-direction: column;
}
