.MyButton {
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: 1em 2.5em 1em 2.5em;
    border: 1px solid cyan;
    border-radius: 15px;
    background: #fff;
    transition: all 0.2s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
   }

   .MyButton:hover {
    background: #00E0FF;
    color: white;
    border-color: #0B74BF;
   }
   
   .MyButton:active {
    transform: scale(0.95);
   }
   
   .MyButton .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 9em;
    height: 3em;
    transform: translate(-50%, -50%);
   }