.NoteCard {
    margin: 10px;
    width: 190px;
    height: 254px;
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 26px;
    border: 1px solid #00E0FF;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .NoteCard:hover {
    box-shadow: 35px 35px 68px 0px rgba(11, 116, 191, 0.3);
  }
  
  .NoteCard:active {
    transform: scale(0.95);
    border: 2px solid #0B74BF;
  }

  .NoteCard div {
    
    margin: 10px;
  }

  .NoteCard a {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
  }