.output {
    display: flex;
    flex-wrap: wrap;
}

.output > * {
    margin: 10px;
    background-color: cyan;
    border-style: solid;
    max-width: 180px;
    max-height: 200px;
    word-break: break-all;
    overflow: hidden;
}