{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'noteapp/style.css' %}">
    <meta charset="UTF-8">
    <title>WriteByte</title>
</head>

<body>
<div class="output">
    {% for item in note_data %}
    <div class="notecard">
        <h3>{{ item.title }}</h3>
        <p>{{ item.content }}</p>
        <p>{{ item.created_at }}</p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="delete">Delete</button>
        </form>
    </div>
    {% endfor %}
</div>



</body>

</html>