{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'noteapp/style.css' %}">
    <meta charset="UTF-8">
    <title>WriteByte</title>
</head>

<body>
<div class="input">
    <form method="POST">
        {% csrf_token %}
        <input name="title" type="text" placeholder="Title">
        <br>
        <textarea name="content" placeholder="Write a note: "></textarea>
        <br>
        <button type="submit">Save</button>
    </form>
</div>

</body>

</html>